{% include 'frontend_templates/head.html.twig' %}
{% block body %}
<body>
{{ form_start(anfrageForm) }}
{{ form_widget(anfrageForm) }}

{{ form_end(anfrageForm) }}

<div id="ergebnis">

</div>
<form id="notSend">
    <button type="submit">Send</button>
    <input type="text" class="kiki">
    <input type="text" class="timepicker">
    <input type="text" class="datepicker">
</form>


{% include 'frontend_templates/footer.html.twig' %}
</body>



{% endblock %}
</html>