{%  extends 'admin_templates/transfer_formHeader.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Transferfahrt erstellen (Sperrfahrt)</div>
                <div class="panel-body">
                    <div class="col-md-6">
                        {{ include('admin_templates/transfer_form.html.twig', {
                            'buttonText':'Neue Fahrt speichern'
                        }) }}
                    </div>
                </div>
            </div>
        </div><!-- /.col-->
    </div> <!-- /.row -->

{% endblock %}

